*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;

}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.navbar{
    width: 80%;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.navcontainer{
    padding: 20px 0;
}
.navcontainer h2{
    color: rgb(29,29,29);
}

.navcontainer .nav{
    justify-self: flex-end;
    display: flex;
}